name: CI
on:
  pull_request:
  workflow_dispatch:
    inputs:
      token:
        description: 'Unit Sandbox Token'
        required: true
        type: string

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{github.event.pull_request.head.sha}}
      - uses: actions/setup-node@v1
        with:
          node-version: 16.x
      - run: npm ci
      - run: npm run lint
      - run: npm run build
      - run: |
          touch .env
          echo UNIT_TOKEN=${{ github.event.inputs.token || secrets.UNIT_TOKEN }} >> .env
          echo UNIT_API_URL=${{ secrets.UNIT_API_URL || "https://api.s.unit.sh" }} >> .env
      - run: npm run test
